.react-multiple-carousel__arrow--right {
  right: calc(2% + 1px);
  background-color: rgba(26, 26, 26, 0.664);
  border-radius: 4px;
  min-height: 40px;
  min-width: 40px;
  z-index: 10;
}

.react-multiple-carousel__arrow--left {
  left: calc(2% + 1px);
  background-color: rgba(26, 26, 26, 0.664);
  border-radius: 4px;
  min-height: 40px;
  min-width: 40px;
  z-index: 10;
}

.react-multi-carousel-dot-list {
  display: none;
}

.react-multi-carousel-list:active {
  cursor: grabbing;
}

@media (max-width: 480px) {
  .react-multiple-carousel__arrow--right,
  .react-multiple-carousel__arrow--left {
    top: 45%;
  }

  .react-multi-carousel-dot-list {
    display: flex;
    bottom: 0%;
  }
}

.custom-dot-list-style {
  color: aliceblue;
  background-color: rgb(255, 255, 255);
}
